* {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* font-family: 'Arial', sans-serif; */
    header {
        width: 100%;
        position: fixed;
        z-index: 2;
        margin-top: 0px;
    }
    margin: 0px;
    padding: 0px;
}

header {
    align-items: center;
    background-color: #000000;
    padding: 5px 0;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    color: rgb(252, 3, 3);
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-links ul li a {
    text-decoration: none;
    color: rgb(252, 5, 5);
}

.nav-links ul li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50vh;
        text-align: center;
    }
    .nav-links.show {
        display: flex;
    }
    .nav-links ul {
        flex-direction: column;
    }
    .nav-links ul li {
        margin: 25px;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        background: none;
    }
    .navbar .nav-links ul li a {
        background: none;
    }
    .menu-hamburger {
        display: block;
    }
}

.Hire-Me {
    background: transparent;
    border: none;
    background: red;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button a {
    text-decoration: none;
    color: aliceblue;
    background: none;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
}


/* Footer */

.footer_container {
    padding: 30px 0px 40px 0px;
    background: #ff0101;
    display: flex;
    justify-content: space-evenly;
    border-top: 5px solid white;
}

.footer_column {
    display: flex;
    flex-direction: column;
    background: none;
    text-align: center;
}

.footer_column h3 {
    text-decoration: none;
    color: white;
    font-size: 34px;
    margin-bottom: 25px;
    background: none;
}

.footer_column a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    background: none;
}

.footer_column img {
    width: 200px;
    height: 80px;
    margin-bottom: 10px;
    background: none;
    border: 2px solid black;
}

.vl {
    border-left: 6px solid rgb(255, 255, 255);
    height: 250px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .footer_container {
        padding: 150px 0px 10px 0px;
    }
    .footer_column h3 {
        font-size: 25px;
    }
    .footer_column img {
        width: 100px;
        height: 40px;
    }
}