* {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /* font-family: 'Arial', sans-serif; */
    header {
        width: 100%;
        position: fixed;
        z-index: 2;
        margin-top: 0px;
    }
    margin: 0px;
    padding: 0px;
}

header {
    align-items: center;
    background-color: #000000;
    padding: 5px 0;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    color: rgb(252, 3, 3);
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links ul li {
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-links ul li a {
    text-decoration: none;
    color: rgb(252, 5, 5);
}

.nav-links ul li a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50vh;
        text-align: center;
    }
    .nav-links.show {
        display: flex;
    }
    .nav-links ul {
        flex-direction: column;
    }
    .nav-links ul li {
        margin: 25px;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        background: none;
    }
    .navbar .nav-links ul li a {
        background: none;
    }
    .menu-hamburger {
        display: block;
    }
}

.Hire-Me {
    background: transparent;
    border: none;
    background: red;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button a {
    text-decoration: none;
    color: aliceblue;
    background: none;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
}


/* body */

.banner-image {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url("../picture/background\ picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-tex {
    color: red;
    justify-content: right;
    text-align: center;
    font-weight: 900;
    font-size: 70px;
    line-height: 1;
    background: none;
    margin-top: 100px;
    margin-right: 50px;
}

.banner-tex p {
    margin: 50px;
}

.banner-tex span {
    color: white;
    background: none;
}

@media screen and (max-width: 768px) {
    .banner-image {
        height: 40vh;
    }
    .banner-tex {
        color: red;
        justify-content: right;
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        line-height: 1;
        background: none;
        margin-top: 100px;
    }
}


/* about_me */

.about_me {
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin: 60px;
    justify-content: center;
    align-items: center;
}

.image-container {
    flex: 1;
    box-sizing: border-box;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text_container {
    text-align: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    border: 2px solid rgba(255, 0, 0, 0.426);
    border-radius: 20px;
    box-sizing: border-box;
}

.text_container h2 {
    font-size: 30px;
    color: white;
    background: transparent;
    text-transform: uppercase;
}

.text_container p {
    color: white;
    font-weight: 400;
    font-size: 18px;
    background: transparent;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .about_me {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }
}


/* My team */

.My_team {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
}

.team_image-container {
    flex: 1;
    box-sizing: border-box;
}

.team_image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 25px;
    border: 2px solid red;
}

.team_image-container p {
    color: white;
    font-size: 12px;
    background: transparent;
    line-height: 1;
    text-align: center;
    justify-content: center;
}

.team_image-container h3 {
    color: white;
    text-transform: uppercase;
    background: transparent;
    line-height: 1;
    text-align: center;
    justify-content: center;
}

.team_image-container h4 {
    color: red;
    text-transform: uppercase;
    background: transparent;
    line-height: 1;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .My_team {
        display: block;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
}


/* client review */

.reviews-container {
    /* display: flex; */
    border: 2px solid red;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
}

.reviews-container h2 {
    text-align: center;
    color: #ffffff;
}

.review {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.user-info h3 {
    margin: 0;
    color: #ff0000;
}

p {
    margin: 15px 0;
    color: #ffffff;
}


/* clients */

.clients h2 {
    justify-content: center;
    text-align: center;
    color: red;
    margin: 20px;
}

.clients img {
    margin: 20px auto;
    padding: 5px;
    width: 100%;
    border: 4px solid red;
}


/* Footer */

.footer_container {
    padding: 30px 0px 40px 0px;
    background: #ff0101;
    display: flex;
    justify-content: space-evenly;
    border-top: 5px solid white;
}

.footer_column {
    display: flex;
    flex-direction: column;
    background: none;
    text-align: center;
}

.footer_column h3 {
    text-decoration: none;
    color: white;
    font-size: 34px;
    margin-bottom: 25px;
    background: none;
}

.footer_column a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    background: none;
}

.footer_column img {
    width: 200px;
    height: 80px;
    margin-bottom: 10px;
    background: none;
    border: 2px solid black;
}

.vl {
    border-left: 6px solid rgb(255, 255, 255);
    height: 250px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .footer_container {
        padding: 150px 0px 10px 0px;
    }
    .footer_column h3 {
        font-size: 25px;
    }
    .footer_column img {
        width: 100px;
        height: 40px;
    }
}